# Miscellaneous
*.class
*.log
*.pyc
*.swp
Frontend/.DS_Store
Frontend/.atom/
Frontend/.buildlog/
Frontend/.history
Frontend/.svn/

# IntelliJ related
Frontend/*.iml
Frontend/*.ipr
Frontend/*.iws
Frontend/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
Frontend/.dart_tool
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies
Frontend/.packages
Frontend/.pub-cache
Frontend/.pub
Frontend/build
Frontend/.vscode
Frontend/android/app/src/main/AndroidManifest.xml

# Web related
Frontend/lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/Frontend/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

Backend/config.py
Backend/env
Backend/.vscode
Backend/migrations
Backend/__pycache__


